.30_154 { 
	overflow:hidden;
}
.e30_154 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:2100px;
	position:absolute;
}
.e31_155 { 
	color:rgba(87.0595072209835, 103.11052232980728, 247.56250709295273, 1);
	width:228px;
	height:69px;
	position:absolute;
	left:69px;
	top:38px;
	font-family:AppleSDGothicNeoH00;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e35_16 { 
	color:rgba(0, 0, 0, 1);
	width:194px;
	height:45px;
	position:absolute;
	left:1014px;
	top:184px;
	font-family:AppleSDGothicNeoB00;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e60_100 { 
	width:63px;
	height:33px;
	position:absolute;
	left:1306px;
	top:208px;
}
.e35_17 { 
	color:rgba(0, 0, 0, 1);
	width:35px;
	height:33px;
	position:absolute;
	left:28px;
	top:0px;
	font-family:AppleSDGothicNeoB00;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e60_93 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:7px;
}
.e35_41 { 
	color:rgba(134.93749290704727, 134.93749290704727, 134.93749290704727, 1);
	width:250px;
	height:49px;
	position:absolute;
	left:73px;
	top:142px;
	font-family:AppleSDGothicNeoUL00;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e35_29 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:113.02887725830078px;
	height:33px;
	position:absolute;
	left:1151px;
	top:55px;
}
.e35_30 { 
	background-color:rgba(21.51562537997961, 72.7228233218193, 172.12500303983688, 1);
	width:113.02887725830078px;
	height:28.328472137451172px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e35_31 { 
	color:rgba(255, 255, 255, 1);
	width:78px;
	height:32px;
	position:absolute;
	left:18px;
	top:1px;
	font-family:AppleSDGothicNeoL00;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e35_46 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:350px;
	height:89.98455810546875px;
	position:absolute;
	left:949px;
	top:829px;
}
.e35_47 { 
	background-color:rgba(21.51562537997961, 72.7228233218193, 172.12500303983688, 1);
	width:350px;
	height:89.98455810546875px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e35_48 { 
	color:rgba(255, 255, 255, 1);
	width:224px;
	height:50px;
	position:absolute;
	left:63px;
	top:20px;
	font-family:AppleSDGothicNeoL00;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e35_32 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:113.02887725830078px;
	height:28.328472137451172px;
	position:absolute;
	left:1276.97119140625px;
	top:55px;
}
.e35_33 { 
	background-color:rgba(21.51562537997961, 72.7228233218193, 172.12500303983688, 1);
	width:113.02887725830078px;
	height:28.328472137451172px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e35_34 { 
	color:rgba(255, 255, 255, 1);
	width:70px;
	height:19px;
	position:absolute;
	left:26.02880859375px;
	top:1px;
	font-family:AppleSDGothicNeoL00;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e35_44 { 
	width:740px;
	height:657px;
	position:absolute;
	left:69px;
	top:262px;
	background-image:url(./blood-test-gfe0af8407_1920.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.e35_45 { 
	color:rgba(0, 0, 0, 1);
	width:573px;
	height:567px;
	position:absolute;
	left:837px;
	top:262px;
	font-family:AppleSDGothicNeoB00;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e35_54 { 
	background-color:rgba(173.61253201961517, 186.63450926542282, 255, 1);
	width:348px;
	height:348px;
	position:absolute;
	left:69px;
	top:1082px;
	border-top-left-radius:44px;
	border-top-right-radius:44px;
	border-bottom-left-radius:44px;
	border-bottom-right-radius:44px;
}
.e35_55 { 
	background-color:rgba(114.6480180323124, 91.80002644658089, 255, 1);
	width:348px;
	height:348px;
	position:absolute;
	left:527px;
	top:1082px;
	border-top-left-radius:49px;
	border-top-right-radius:49px;
	border-bottom-left-radius:49px;
	border-bottom-right-radius:49px;
}
.e35_56 { 
	background-color:rgba(55.892568826675415, 24.344556480646133, 249.6875050663948, 1);
	width:348px;
	height:348px;
	position:absolute;
	left:984px;
	top:1082px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e35_57 { 
	color:rgba(88.61252948641777, 125.21776646375656, 255, 1);
	width:269px;
	height:47px;
	position:absolute;
	left:69px;
	top:994px;
	font-family:AppleSDGothicNeoH00;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e35_59 { 
	color:rgba(55.892568826675415, 24.344556480646133, 249.6875050663948, 1);
	width:1263px;
	height:538px;
	position:absolute;
	left:69px;
	top:1495px;
	font-family:AppleSDGothicNeoH00;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e35_61 { 
	color:rgba(0, 0, 0, 1);
	width:1263px;
	height:467px;
	position:absolute;
	left:69px;
	top:1566px;
	font-family:AppleSDGothicNeoH00;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e45_103 { 
	
box-sizing: border-box;

position: absolute;
width: 112px;
height: 0px;
left: 415px;
top: 1245px;

border: 3px solid #8875FA;

}

.e45_104 { 
	box-sizing: border-box;

position: absolute;
width: 112px;
height: 0px;
left: 875px;
top: 1244px;

border: 3px solid #3818FA;
}
