.d78_28 { 
	overflow:hidden;
}
.e78_28 { 
	width:1440px;
	height:1024px;
	position:absolute;
}
.e12_27 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}
.e18_6 { 
	color:rgba(87.0595072209835, 103.11052232980728, 247.56250709295273, 1);
	width:672px;
	height:155px;
	position:absolute;
	left:144px;
	top:277px;
	font-family:AppleSDGothicNeoH00;
	text-align:left;
	font-size:120px;
	letter-spacing:0;
    text-decoration: underline;
}
.e23_3 {
	color: rgba(135.7986482977867, 134.76484537124634, 147.68749594688416, 1);
	width: 687px;
	height: 156px;
	position: absolute;
	left: 181px;
	top: 489px;
	font-family: AppleSDGothicNeoSB00;
	text-align: left;
	font-size: 48px;
	letter-spacing: 0;
	white-space: pre-line;
}

.e1_34 { 
	width:131px;
	height:46.876712799072266px;
	position:absolute;
	left:1222px;
	top:34px;
}
.e18_3 { 
	width:131px;
	height:46.876712799072266px;
	position:absolute;
	left:0px;
	top:0px;
}
.e18_4 { 
	background-color:rgba(78.46354007720947, 63.11252720654011, 255, 1);
	width:131px;
	height:39.890411376953125px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e18_5 { 
	color:rgba(255, 255, 255, 1);
	width:86.06395721435547px;
	height:44.876712799072266px;
	position:absolute;
	left:31px;
	top:2px;
	font-family:AppleSDGothicNeoB00;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_33 { 
	width:415px;
	height:104px;
	position:absolute;
	left:838px;
	top:520px;
}
.e1_15 { 
	background-color:rgba(78.46354007720947, 63.11252720654011, 255, 1);
	width:354px;
	height:104px;
	position:absolute;
	left:60px;
	top:0px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.e1_20 { 
	color:rgba(255, 255, 255, 1);
	width:371px;
	height:65px;
	position:absolute;
	left:44px;
	top:13px;
	font-family:AppleSDGothicNeoH00;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
