.e160_55 { 
	position: absolute;
width: 746px;
height: 0px;
left: -91.6px;
top: 538px;

border: 1px solid #000000;
transform: rotate(90deg);

}
.160_55 { 
	border:1px solid rgba(0, 0, 0, 1);
}

.155_54 { 
	overflow:hidden;
}
.e155_54 { 
	width:248px;
	height:525px;
	position:absolute;
}
.155_38 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e155_38 { 
	position: absolute;
width: 300px;
height: 0px;
left: 0px;
top: 592px;

border: 1px solid #000000;
}
.155_40 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e155_40 { 
	position: absolute;
width: 300px;
height: 0px;
left: 0px;
top: 350px;

border: 1px solid #000000;
}
.e155_44 { 
	color:rgba(0, 0, 0, 1);
	width:110px;
	height:24px;
	position:absolute;
	left:69px;
	top:250px;
	font-family:AppleSDGothicNeoB00;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e155_53 { 
	color:rgba(0, 0, 0, 1);
	width:39px;
	height:24px;
	position:absolute;
	left:104px;
	top:701px;
	font-family:AppleSDGothicNeoB00;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e155_46 { 
	color:rgba(0, 0, 0, 1);
	width:51px;
	height:24px;
	position:absolute;
	left:98px;
	top:450px;
	font-family:AppleSDGothicNeoB00;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}


.e28_89 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:113.02887725830078px;
	height:28.328472137451172px;
	position:absolute;
	left:1088px;
	top:23px;
}
.e28_90 { 
	background-color:rgba(21.51562537997961, 72.7228233218193, 172.12500303983688, 1);
	width:113.02887725830078px;
	height:28.328472137451172px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e28_91 { 
	color:rgba(255, 255, 255, 1);
	width:79px;
	height:18px;
	position:absolute;
	left:17px;
	top:1px;
	font-family:AppleSDGothicNeoL00;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e28_92 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:113.02887725830078px;
	height:28.328472137451172px;
	position:absolute;
	left:1213.97119140625px;
	top:23px;
}
.e28_93 { 
	background-color:rgba(21.51562537997961, 72.7228233218193, 172.12500303983688, 1);
	width:113.02887725830078px;
	height:28.328472137451172px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e28_94 { 
	color:rgba(255, 255, 255, 1);
	width:69px;
	height:27px;
	position:absolute;
	left:25.02880859375px;
	top:1px;
	font-family:AppleSDGothicNeoL00;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e28_95 { 
	color:rgba(87.0595072209835, 103.11052232980728, 247.56250709295273, 1);
	width:228px;
	height:69px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:AppleSDGothicNeoH00;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e28_113 { 
	width:617px;
	height:47px;
	position:absolute;
	left:272px;
	top:17px;
}
.e28_96 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:617px;
	height:47px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
d.28_96 { 
	border:4px solid rgba(0, 0, 0, 1);
}
.e28_97 { 
	width:24px;
	height:24px;
	position:absolute;
	left:570px;
	top:11px;
}
.ei28_97_28_12 { 
	background-color:rgb(75, 16, 16);
	width:22.207088470458984px;
	height:22.20710563659668px;
	position:absolute;
	left:0.5px;
	top:0.5px;
	background-image:url(./image/10.PNG);
	background-repeat:no-repeat;
	background-size:cover;

}
.e28_102 { 
	color:rgba(120.06249949336052, 109.05677005648613, 109.05677005648613, 1);
	width:150px;
	height:25px;
	position:absolute;
	left:32px;
	top:11px;
	font-family:AppleSDGothicNeoB00;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e30_153 { 
	background-color:rgba(255, 255, 255, 0);
	width:1299px;
	height:784px;
	position:absolute;
	left:6px;
	top:124px;
}
.e28_127 { 
	width:1299px;
	height:851px;
	position:absolute;
	left:0px;
	top:0px;
}
.e28_126 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:433px;
	height:41.554771423339844px;
	position:absolute;
	left:866px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.e28_120 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:433px;
	height:41.554771423339844px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
    border:none;
}
.e28_123 { 
	color:rgba(0, 0, 0, 1);
	width:87.55165100097656px;
	height:25.85630226135254px;
	position:absolute;
	left:177.006591796875px;
	top:7.387515068054199px;
	font-family:AppleSDGothicNeoB00;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e28_125 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:433px;
	height:41.554771423339844px;
	position:absolute;
	left:433px;
	top:0px;
}
.e28_119 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:433px;
	height:41.554771423339844px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
    border:none;
}
.e28_122 { 
	color:rgba(0, 0, 0, 1);
	width:66.61538696289062px;
	height:25.85630226135254px;
	position:absolute;
	left:175.10330200195312px;
	top:7.387515068054199px;
	font-family:AppleSDGothicNeoB00;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e28_124 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:433px;
	height:41.554771423339844px;
	position:absolute;
	left:0px;
	top:0px;
}
.e28_118 { 
	background-color:rgba(163.359375, 189.09843385219574, 239.0625, 1);
	width:433px;
	height:41.554771423339844px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
    border:none;
}
.e28_121 { 
	color:rgba(0, 0, 0, 1);
	width:82.79340362548828px;
	height:25.85630226135254px;
	position:absolute;
	left:175.10330200195312px;
	top:7.387515068054199px;
	font-family:AppleSDGothicNeoB00;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e28_98 { 
	box-shadow:0px 4px 9px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1299px;
	height:-300.36865234375px;
	position:absolute;
	left:4.547473508864641e-13px;
	top:80.63133239746094px;
}
d.28_98 { 
	border:1px solid rgba(0, 0, 0, 1);
}

d.28_101 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e28_128 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:288px;
	height:194px;
	position:absolute;
	left:277px;
	top:71px;
	background-image:url(./image/1.PNG);
	background-repeat:no-repeat;
	background-size:cover;
}
.e28_147 { 
	color:rgba(0, 0, 0, 1);
	width:80px;
	height:32px;
	position:absolute;
	left:277px;
	top:278px;
	font-family:AppleSDGothicNeoB00;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e28_148 { 
	color:rgba(147.68749594688416, 143.37994068861008, 143.37994068861008, 1);
	width:70px;
	height:28px;
	position:absolute;
	left:277px;
	top:323px;
	font-family:AppleSDGothicNeoB00;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e28_130 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:289px;
	height:194px;
	position:absolute;
	left:621px;
	top:364px;
	background-image:url(./image/5.PNG);
	background-repeat:no-repeat;
	background-size:cover;
}
.e29_149 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:289px;
	height:194px;
	position:absolute;
	left:966px;
	top:364px;
	background-image:url(./image/6.PNG);
	background-repeat:no-repeat;
	background-size:cover;
}
.e28_131 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:288px;
	height:194px;
	position:absolute;
	left:966px;
	top:71px;
	background-image:url(./image/3.PNG);
	background-repeat:no-repeat;
	background-size:cover;
}
.e28_132 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:289px;
	height:194px;
	position:absolute;
	left:621px;
	top:71px;
	background-image:url(./image/2.PNG);
	background-repeat:no-repeat;
	background-size:cover;
}
.e28_133 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:288px;
	height:194px;
	position:absolute;
	left:277px;
	top:364px;
	background-image:url(./image/4.PNG);
	background-repeat:no-repeat;
	background-size:cover;
}
.e29_150 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:288px;
	height:194px;
	position:absolute;
	left:277px;
	top:657px;
	background-image:url(./image/7.PNG);
	background-repeat:no-repeat;
	background-size:cover;
}
.e29_151 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:288px;
	height:194px;
	position:absolute;
	left:621px;
	top:657px;
	background-image:url(./image/8.PNG);
	background-repeat:no-repeat;
	background-size:cover;
}
.e29_152 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:288px;
	height:194px;
	position:absolute;
	left:967px;
	top:657px;
	background-image:url(./image/9.PNG);
	background-repeat:no-repeat;
	background-size:cover;
}

@font-face {
    font-family: 'neon';
    src: url('../src/fonts/AppleSDGothicNeoB.ttf') format('truetype');
}

@font-face {
    font-family: 'neon2';
     src: url('../src/fonts/AppleSDGothicNeoH.ttf') format('truetype');
}


@font-face {
    font-family: 'neon3';
    src: url('../src/fonts/AppleSDGothicNeoL.ttf') format('truetype');

}

@font-face {
    font-family: 'neon4';
    src: url('../src/fonts/AppleSDGothicNeoM.ttf') format('truetype');
}

@font-face {
    font-family: 'neon5';
    src: url('../src/fonts/AppleSDGothicNeoR.ttf') format('truetype');
}

@font-face {
    font-family: 'neon6';
    src: url('../src/fonts/AppleSDGothicNeoSB.ttf') format('truetype');
}

@font-face {
    font-family: 'neon7';
    src: url('../src/fonts/AppleSDGothicNeoT.ttf') format('truetype');
}

@font-face {
    font-family: 'neon8';
    src: url('../src/fonts/AppleSDGothicNeoUL.ttf') format('truetype');
}

@font-face {
    font-family: 'neon9';
    src: url('../src/fonts/AppleSDGothicNeoEB.ttf') format('truetype');
}

