.d135_48 { 
	overflow:hidden;
}
.e135_48 { 
	width:1440px;
	height:2100px;
	position:absolute;
}
.e135_39 { 
	width:1440px;
	height:2100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e35_63 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:2100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e35_64 { 
	color:rgba(87.0595072209835, 103.11052232980728, 247.56250709295273, 1);
	width:228px;
	height:69px;
	position:absolute;
	left:69px;
	top:38px;
	font-family:AppleSDGothicNeoH00;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e35_68 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:113.02887725830078px;
	height:34px;
	position:absolute;
	left:1151px;
	top:55px;
}
.e35_69 { 
	background-color:rgba(21.51562537997961, 72.7228233218193, 172.12500303983688, 1);
	width:113.02887725830078px;
	height:28.328472137451172px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e35_70 { 
	color:rgba(255, 255, 255, 1);
	width:74.2573471069336px;
	height:31.869529724121094px;
	position:absolute;
	left:24.70751953125px;
	top:2.130462646484375px;
	font-family:AppleSDGothicNeoL00;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e35_74 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:113.02887725830078px;
	height:33.28984451293945px;
	position:absolute;
	left:1276.97119140625px;
	top:55px;
}
.e35_75 { 
	background-color:rgba(21.51562537997961, 72.7228233218193, 172.12500303983688, 1);
	width:113.02887725830078px;
	height:28.328472137451172px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e35_76 { 
	color:rgba(255, 255, 255, 1);
	width:74.2573471069336px;
	height:31.869529724121094px;
	position:absolute;
	left:29.7470703125px;
	top:1.420318603515625px;
	font-family:AppleSDGothicNeoL00;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e35_89 { 
	color:rgba(0, 0, 0, 1);
	width:222px;
	height:59px;
	position:absolute;
	left:609px;
	top:182px;
	font-family:AppleSDGothicNeoH00;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e35_90 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:350px;
	height:89.98455810546875px;
	position:absolute;
	left:545px;
	top:1882px;
}
.e35_91 { 
	background-color:rgba(21.51562537997961, 72.7228233218193, 172.12500303983688, 1);
	width:350px;
	height:89.98455810546875px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e35_92 { 
	color:rgba(255, 255, 255, 1);
	width:150px;
	height:50px;
	position:absolute;
	left:100px;
	top:20px;
	font-family:AppleSDGothicNeoL00;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
