.91_35 { 
   overflow:hidden;
}
.e91_35 { 
   width:642px;
   height:503px;
   position:absolute;
}
.e56_12 { 
   color:rgba(0, 56.10077865421772, 255, 1);
   width:230px;
   height:69px;
   position:absolute;
   left:205px;
   top:0px;
   font-family:AppleSDGothicNeoH00;
   text-align:left;
   font-size:48px;
   letter-spacing:0;
}
.e61_11 { 
   width:544px;
   height:370px;
   position:absolute;
   left:51px;
   top:133px;
}
.e60_108 { 
   background-color:rgba(181.89557075500488, 209.16985362768173, 241.18749797344208, 1);
   width:639px;
   height:59px;
   position:absolute;
   left:3px;
   top:133px;
   border-top-left-radius:10px;
   border-top-right-radius:10px;
   border-bottom-left-radius:10px;
   border-bottom-right-radius:10px;
}
.e60_112 { 
   color:rgba(134.93749290704727, 134.93749290704727, 134.93749290704727, 1);
   width:28px;
   height:44px;
   position:absolute;
   left:62px;
   top:139px;
   font-family:AppleSDGothicNeoUL00;
   text-align:left;
   font-size:32px;
   letter-spacing:0;
}
.e60_110 { 
   background-color:rgba(181.89557075500488, 209.16985362768173, 241.18749797344208, 1);
   width:639px;
   height:59px;
   position:absolute;
   left:3px;
   top:213px;
   border-top-left-radius:10px;
   border-top-right-radius:10px;
   border-bottom-left-radius:10px;
   border-bottom-right-radius:10px;
}
.e61_38 { 
   background-color:rgba(181.89557075500488, 209.16985362768173, 241.18749797344208, 1);
   width:639px;
   height:59px;
   position:absolute;
   left:0px;
   top:343px;
   border-top-left-radius:10px;
   border-top-right-radius:10px;
   border-bottom-left-radius:10px;
   border-bottom-right-radius:10px;
}
.e60_113 { 
   color:rgba(134.93749290704727, 134.93749290704727, 134.93749290704727, 1);
   width:44px;
   height:44px;
   position:absolute;
   left:62px;
   top:221px;
   font-family:AppleSDGothicNeoUL00;
   text-align:left;
   font-size:32px;
   letter-spacing:0;
}
.e60_115 { 
   color:rgba(0, 0, 0, 1);
   width:87px;
   height:28px;
   position:absolute;
   left:429px;
   top:287px;
   font-family:AppleSDGothicNeoUL00;
   text-align:left;
   font-size:20px;
   letter-spacing:0;
}
.e60_116 { 
   color:rgba(0, 0, 0, 1);
   width:104px;
   height:28px;
   position:absolute;
   left:536px;
   top:287px;
   font-family:AppleSDGothicNeoUL00;
   text-align:left;
   font-size:20px;
   letter-spacing:0;
}
.e60_124 { 
   color:rgba(0, 0, 0, 1);
   width:139px;
   height:41px;
   position:absolute;
   left:253px;
   top:351px;
   font-family:AppleSDGothicNeoL00;
   text-align:left;
   font-size:32px;
   letter-spacing:0;
}
.e60_125 { 
   width:24px;
   height:24px;
   position:absolute;
   left:25px;
   top:233px;
}
.e60_129 { 
   background-color:rgba(134.93749290704727, 134.93749290704727, 134.93749290704727, 1);
   width:20px;
   height:22.5px;
   position:absolute;
   left:2px;
   top:0.5px;
}
.e60_130 { 
   width:24px;
   height:24px;
   position:absolute;
   left:25px;
   top:151px;
}
.e60_134 { 
   background-color:rgba(134.93749290704727, 134.93749290704727, 134.93749290704727, 1);
   width:20px;
   height:22px;
   position:absolute;
   left:2px;
   top:1px;
}'