$applesdgothicneoh00-font : "AppleSDGothicNeoH00"
$applesdgothicneoul00-font : "AppleSDGothicNeoUL00"
$applesdgothicneosb00-font : "AppleSDGothicNeoSB00"
$applesdgothicneol00-font : "AppleSDGothicNeoL00"
$applesdgothicneob00-font : "AppleSDGothicNeoB00"